* {
  margin: 0;
  padding: 0;
}

:root {
  --mainBlue: #4fa8c9;
  --mainBlack: #222;
  --mainGrey: #f0f0f3;
  --secondBlack: #808080;
  --secondGrey: #d1d1d1;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--mainGrey);
  color: var(--mainBlack);
}
